<nav class="navbar navbar-expand-lg bg-dark" >
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <i class="bi bi-mortarboard-fill color-white"></i>
      <span class="color-white">  Book-Academy</span>
    </a>
   
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav me-auto ">
        <li class="nav-item ">
          <a class="nav-link " routerLink="/home">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/listarLibro">Libros</a>
        </li>
        <li class="nav-item">

          <a class="nav-link" aria-current="page" routerLink="/listarprestamo">Préstamo</a>
        </li>
      </ul>
      <button class="btn btn-outline-light d-none d-md-inline-block color-white" type="button" routerLink="/login">
          salir  
          <i class="bi bi-person-circle"></i>
          
       </button>
      
    </div>
  </div>
</nav>