
<section id="sect1" class="sect" >
    <video src="https://carontestudio.com/img/f4.mp4" autoplay="true" muted="true" loop="true"
        poster="https://carontestudio.com/img/contacto.jpg   "></video>

    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-8">
                    <div class="row mt3">
                        <div class="col lg6">
                            
                            <img [src]="img" alt="" width="200 px" height="500" class="img-fluid">
                        </div>
                    </div>
                </div>

                <div class="col align-self-center">
                    <h3 class="text-center"><i class="bi bi-people-fill"></i></h3>
                    <form [formGroup]="registrarUser" (ngSubmit)="registrar()">

                        <div class="mb-2 row">
                            <label for="id" class=" col-form-label">Identificación Usuario</label>
                            <div class="col-sm-12">
                                <input formControlName="id" class="center-block" type="id" class="form-control" id="id"
                                    placeholder="Ingrese su Id">
                            </div>

                            <span *ngIf="registrarUser.get('id')?.invalid && registrarUser.get('id')?.touched"
                                class="text-danger">
                                El <strong>Id</strong> es un campo requerido
                            </span>
                        </div>

                        <div class="mb-3 row">
                            <label for="nombre" class=" col-form-label">Nombre Completo</label>
                            <div class="col-sm-12">
                                <input formControlName="nombre" class="center-block" type="nombre" class="form-control"
                                    id="nombre" placeholder="Ingrese su Nombre">
                            </div>

                            <span *ngIf="registrarUser.get('nombre')?.invalid && registrarUser.get('nombre')?.touched"
                                class="text-danger">
                                El <strong>Nombre</strong> es un campo requerido
                            </span>
                        </div>

                        <div class="mb-3 row">
                            <label for="correo" class=" col-form-label">Correo Electrónico</label>
                            <div class="col-sm-12">
                                <input formControlName="correo" class="center-block" type="correo" class="form-control"
                                    id="correo" placeholder="Ingrese su correo">
                            </div>
                            <span *ngIf="registrarUser.get('correo')?.invalid && registrarUser.get('correo')?.touched"
                                class="text-danger">
                                El <strong>Correo Electrónico</strong> es un campo requerido
                            </span>
                        </div>

                        <div class="mb-3 row">
                            <label for="contrasenia" class="col-form-label">Contraseña</label>
                            <div class="col-sm-12">
                                <input formControlName="contrasenia" input type="password" class="form-control"
                                    id="contraseña" placeholder="Ingrese su Contraseña">
                            </div>
                            <span
                                *ngIf="registrarUser.get('contrasenia')?.invalid && registrarUser.get('contrasenia')?.touched"
                                class="text-danger">
                                La <strong>Contraseña</strong> es un campo requerido
                            </span>

                        </div>

                        <div class="d-flex justify-content-between-end">
                            <div class="col lg6">
                                <button type="submit" class="btn btn-outline-warning">Registrar</button>
                            </div>

                            <div class="float-end">
                                <button type="button" class="btn btn-outline-success" routerLink="/">Regresar</button>
                            </div>
                        </div>

                    </form>


                </div>

            </div>
        </div>
    </div>


    
</section>
