<app-navbar></app-navbar>
<div class="row" style="background-image:url('https://images.pexels.com/photos/2946979/pexels-photo-2946979.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') ;">
    <div class="col-sm-4">
        <div class="card m-3" style="width: 18rem;">
            <img src="https://cdn.pixabay.com/photo/2014/07/08/09/58/html5-386614_960_720.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">

                <h5 class="card-title">Fundamentos html</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>


        </div>

    </div>
    <div class="col-sm-4">
        <div class="card m-3" style="width: 18rem;">
            <img src="https://media.istockphoto.com/vectors/digital-eye-data-network-cyber-security-technology-vector-id1355569095?b=1&k=20&m=1355569095&s=170667a&w=0&h=5I0M634YZR3mArBWbRZ6AvmntZLGL7djzreJleh6EX8=" class="card-img-top"
                alt="...">
            <div class="card-body">

                <h5 class="card-title">cyber seguridad</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>


        </div>
    </div>
    <div class="col-sm-3">
        <div class="card m-3" style="width: 18rem;">
            <img src="https://cdn.pixabay.com/photo/2019/06/17/19/48/source-4280758__340.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">

                <h5 class="card-title">Programacion en c</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>


        </div>
    </div>

    <div class="row" >
        <div class="col-sm-4">
            <div class="card m-3" style="width: 18rem;">
                <img src="https://cdn.pixabay.com/photo/2017/05/19/21/12/java-2327538__340.png" class="card-img-top"
                    alt="...">
                <div class="card-body">

                    <h5 class="card-title">Java POO</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>


            </div>

        </div>
        <div class="col-sm-4">
            <div class="card m-3" style="width: 18rem;">
                <img src="https://media.istockphoto.com/photos/programming-code-abstract-technology-background-of-software-developer-picture-id871030872?b=1&k=20&m=871030872&s=170667a&w=0&h=7Ds8cASgDjV6NEh-JtkT3AZSciYDIdxdzAMlmMlkxrc=" class="card-img-top"
                    alt="...">
                <div class="card-body">

                    <h5 class="card-title">Redes Informaticas</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>


            </div>
        </div>
        <div class="col-sm-3">
            <div class="card m-3" style="width: 18rem;">
                <img src="https://media.istockphoto.com/photos/red-and-blue-pills-on-hand-isolated-picture-id1140916920?k=20&m=1140916920&s=612x612&w=0&h=43d4F0F1qbw9-5dpEuj6lmgRROoTXDpCDNMjEUWmEIU=" class="card-img-top"
                    alt="...">
                <div class="card-body">

                    <h5 class="card-title">estamos en la matrix?</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>


            </div>
       </div>
    </div>
</div>

 