<section id="sect1" class="sect">

    <video src="https://carontestudio.com/img/f4.mp4" autoplay="true" muted="true" loop="true"
        poster="https://carontestudio.com/img/contacto.jpg"></video>
    
    
    <div class="container  center w-100" >
        <div class="  w-75 h-50  align-self-center ">
            <h1 class="text-center blue-color p-2 mt-2 "> 
                <a class="navbar-brand" routerLink="/home">
                    <i class="bi bi-mortarboard-fill color-white"></i><br>
                    <span class="color-white">  Book-Academy</span>
                </a>
            </h1>
            <form [formGroup]="iniciarUser" (ngSubmit)="iniciarSesion()" class="m-5 center">

                <div class="row mb-3 ">
                    <label for="correo" class="col-sm-3 col-form-label">Usuario</label>
                    <div class="col-sm-12">
                        <input formControlName="correo" class="center-block" type="email" class="form-control"
                            id="correo" placeholder="Ingrese su Correo">
                    </div>
                    <span *ngIf="iniciarUser.get('correo')?.invalid && iniciarUser.get('correo')?.touched"
                        class="text-danger"><strong>Correo</strong> requerido </span>
                </div>

                <div class="mb-3 row">
                    <label for="contrasenia" class="col-sm-3 col-form-label">Contraseña</label>
                    <div class="col-sm-12">
                        <input formControlName="contrasenia" input type="password" class="form-control" id="contrasenia"
                            placeholder="Ingrese su Contraseña">
                    </div>
                    <span *ngIf="iniciarUser.get('contrasenia')?.invalid && iniciarUser.get('contrasenia')?.touched"
                        class="text-danger"><strong>Contraseña</strong> requerido</span>
                </div>

                <div class="d-flex justify-content-between-end">
                    <!--Crear un eventos a los botones-->
                    <div class="col lg6">
                        <button type="submit" [disabled]="iniciarUser.invalid"
                            class="btn btn-outline-success blue-color" routerLink="/home">Ingresar</button>
                    </div>
                    <div class="float-end">
                        <button type="button" class="btn btn-outline-warning blue-color"
                            routerLink="/registroUser">Registrarse</button>
                    </div>
                </div>

            </form>
        </div>
    </div>






</section>